<div class="lal lal-profile">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Profile</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <nav class="navbar navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#!/user/123">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-fluid">
        <form>
            <label for="username">Username</label><br/>
            <input name="username"
                   id="username"
                   ng-model="model.user.username"
                   readonly
                   type="text"
                   placeholder="alice"
                   class="form-control"/>

            <label for="email">Email</label><br/>
            <input name="email"
                   id="email"
                   ng-model="model.user.email"
                   type="email"
                   placeholder="alice@wonderland.com"
                   class="form-control"/>

            <label for="firstName">First Name</label><br/>
            <input name="firstName"
                   id="firstName"
                   ng-model="model.user.firstName"
                   type="text"
                   placeholder="alice"
                   class="form-control"/>

            <label for="lastName">Last Name</label><br/>
            <input name="lastName"
                   id="lastName"
                   ng-model="model.user.lastName"
                   type="text"
                   placeholder="wonderland"
                   class="form-control"/>
        </form>
        <p>
            <a href="#!/user/{{model.user._id}}/website" class="btn btn-block btn-primary" role="button">Websites</a>
            <a href="#!/login" class="btn btn-block btn-danger" role="button">Logout</a>
        </p>
    </div>
</div>
