<div class="container-fluid">
    <h1>Register</h1>

    <form>
    <input name="firstName"
           id="firstName"
           ng-model="model.user.firstName"
           type="text"
           placeholder="username"
           class="form-control"/>

    <input name="password"
           id="password"
           ng-model="model.user.lastName"
           type="passwrod"
           placeholder="password"
           class="form-control"/>

    <input name="verify-password"
           id="verify-password"
           ng-model="model.user.password"
           type="password"
           placeholder="verify password"
           class="form-control"/>
    </form>

    <p>
        <a href="profile.html" class="btn btn-block btn-primary" role="button">Register</a>
        <a href="login.html" class="btn btn-block btn-danger" role="button">Cancel</a>
    </p>

</div>
