<div class="container-fluid">

    <div >
<!--        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>-->
        <h1>Register</h1>

        <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
        <input ng-model="model.user.password" type="password" class="form-control" id="password" placeholder="Password">
        <input ng-model="model.user.password2" type="password" class="form-control" id="password2" placeholder="Verfiy Password">


        <a ng-click="model.register(model.user)" class="btn btn-block btn-primary" role="button">Register</a>
        <a href="#" class="btn btn-block btn-success" role="button">Cancel</a>

    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div id="navbar-bottom" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Back</a></li>

            </ul>
        </div>
    </div>
</nav>