<div class="lal lal-page-list">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="../page/page-list.html">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </li>
            </ul>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Widgets</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="widget-choose.html">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../user/profile.html">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>


    <div class="container-fluid">


        <div ng-repeat="widget in model.widgets">
            <div ng-switch="widget.widgetType">
                <div ng-switch-when="HEADING">
                    <div ng-switch="widget.size">
                        <h1 ng-switch-when="1">{{widget.text}}</h1>
                        <h2 ng-switch-when="2">{{widget.text}}</h2>
                        <h3 ng-switch-when="3">{{widget.text}}</h3>
                        <h4 ng-switch-when="4">{{widget.text}}</h4>
                    </div>
                </div>

                <div ng-switch-when="IMAGE">
                    <img ng-src="{{widget.url}}" width="100%">
                </div>

                <div ng-switch-when="YOUTUBE">
                    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>-->
                    <iframe width="560" height="315" src="{{model.trustUrlResource(widget.url)}}" frameborder="0" allowfullscreen></iframe>
                </div>

                <div ng-switch-when="HTML" ng-bind-html="model.trustHtmlContent(widget.text)">
                </div>

            </div>
        </div>


        <!--<ul class="list-group">
            <li class="list-group-item">
                <a href="#">header widget here</a>
                <span class="pull-right glyphicon glyphicon-align-justify"></span></span>
                <a href="widget-heading.html"><span class="pull-right glyphicon glyphicon-cog"></span></a>
            </li>
            <li class="list-group-item">
                <a href="#">youtube widget here</a>
                <span class="pull-right glyphicon glyphicon-align-justify"></span></span>
                <a href="widget-youtube.html"><span class="pull-right glyphicon glyphicon-cog"></span></a>
            </li>
            <li class="list-group-item">
                <a href="#">image widget here</a>
                <span class="pull-right glyphicon glyphicon-align-justify"></span></span>
                <a href="widget-image.html"><span class="pull-right glyphicon glyphicon-cog"></span></a>
            </li>
        </ul>-->

    </div>

</div>
