<!DOCTYPE html>
<html lang="en" ng-app="projectApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>

    <script src="../../vendor/angular/angular.js"></script>
    <script src="../../vendor/angular/angular-route.js"></script>
    <script src="../app.js"></script>
    <script src="config.js"></script>

    <script src="user/controllers/courses-list.controller.client.js"></script>
    <script src="user/controllers/courses-new.controller.client.js"></script>
    <script src="user/controllers/profile.controller.client.js"></script>
    <script src="user/controllers/friends.controller.client.js"></script>

    <link href="../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js" rel="stylesheet"> -->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../../vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../style.css" rel="stylesheet"/>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Home Page</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#!/courses">Courses</a></li>
                <li><a href="#!/friends">Friends</a></li>
                <li><a href="../index.html">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div ng-view>This is the main page</div>
</body>

