<div class="container-fluid">

    <div >
        <h1>Search Courses</h1>

        <input type="search" id="mySearch" placeholder="Search for a class">

        <ul class="list-group">
            <li class="list-group-item active">
            </li>
            <li ng-repeat="course in model.courses" class="list-group-item">
                <a href="#!">{{website.name}}</a>
            </li>
        </ul>

    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div id="navbar-bottom" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/courses">Back</a></li>

            </ul>
        </div>
    </div>
</nav>