<!-- teacher only page -->
<div class="container-fluid">

    <h2>New Course</h2>
    <div>
        <label for="course-name">Course Name</label><br/>
        <input name="course-name"
               id="course-name"
               ng-model="model.course.name"
               type="text"
               placeholder="Course name"
               class="form-control"/>

        <label for="course-description">Description</label><br/>
        <textarea name="course-description"
                  id="course-description"
                  ng-model="model.course.description"
                  placeholder="Course description"
                  class="form-control"></textarea>
    </div>

    <a ng-click="model.addCourse(model.course)" class="btn btn-block btn-primary" role="button">Add Class</a>
    <a href="#!/courseSearch" class="btn btn-block btn-danger" role="button">Cancel</a>


</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div id="navbar-bottom" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/courses">Back</a></li>

            </ul>
        </div>
    </div>
</nav>