<div class="container-fluid">

    <div >
        <h1>Friend Profile</h1>


        <div class="container-fluid">
            <form>
                <label for="firstName">First Name</label><br/>
                <input name="firstName"
                       id="firstName"
                       ng-model="model.user.firstName"
                       type="text"
                       readonly
                       placeholder="alice"
                       class="form-control"/>

                <label for="lastName">Last Name</label><br/>
                <input name="lastName"
                       id="lastName"
                       ng-model="model.user.lastName"
                       type="text"
                       readonly
                       placeholder="wonderland"
                       class="form-control"/>

                <label for="email">Email</label><br/>
                <input name="email"
                       id="email"
                       ng-model="model.user.email"
                       type="email"
                       readonly
                       placeholder="alice@wonderland.com"
                       class="form-control"/>

            </form>
            </br>
            <p>
                <a href="#!/user/{{model.user._id}}/courses" class="btn btn-block btn-primary" role="button">Courses</a>
            </p>
        </div>

    </div>
</div>
