<div class="container-fluid">

    <div >
        <h1>Friend Profile</h1>

        <div class="container-fluid">
            <form>
                <label for="firstName">First Name</label><br/>
                <input name="firstName"
                       id="firstName"
                       ng-model="model.user.firstName"
                       type="text"
                       readonly
                       placeholder="alice"
                       class="form-control"/>

                <label for="lastName">Last Name</label><br/>
                <input name="lastName"
                       id="lastName"
                       ng-model="model.user.lastName"
                       type="text"
                       readonly
                       placeholder="wonderland"
                       class="form-control"/>

                <label for="email">Email</label><br/>
                <input name="email"
                       id="email"
                       ng-model="model.user.email"
                       type="email"
                       readonly
                       placeholder="alice@wonderland.com"
                       class="form-control"/>

            </form>
            </br>
            <p>
                <a ng-click="model.addFriend(identifier)" class="btn btn-block btn-primary" role="button">Unfriend</a>
                <a ng-click="model.unfriend(identifier)" class="btn btn-block btn-primary" role="button">Add Friend</a>
            </p>
        </div>

    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div id="navbar-bottom" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/friends">Back</a></li>

            </ul>
        </div>
    </div>
</nav>
