<div class="container-fluid">

    <div >
        <h1>Student List</h1>

        <ul class="list-group">
            <li class="list-group-item active">
            </li>
            <li ng-repeat="student in model.courses.students" class="list-group-item">
                <a href="#!">{{student.name}}</a>
            </li>
        </ul>

    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div id="navbar-bottom" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/viewcourse">Back</a></li>

            </ul>
        </div>
    </div>
</nav>